body {
  background-image: url(images/stadium.jpeg);
  background-size: cover;

  text-align: center;
  position: relative;
  top: 120px;
  
  }

.choice-button {
  border: 2px solid goldenrod ;
  background-color: rgb(236, 62, 53);
  border-radius: 25px;
  margin: 5px;
  cursor: pointer;
}

.cimg {
  border-radius: 25px;
}

.reset-img {
  width: 100px;
  height: 65px;
  border-radius: 30px;
}

.ret {
  /* height: 65px;
  width: 100px; */
  border: 2px solid goldenrod ;
  border-radius: 30px;
  border: none;
  background-color: rgb(221, 107, 107);
  cursor: pointer;
}