#logo {
  text-align: center;
  text-transform: capitalize;
}
#cal {
  border: 1px solid rgb(234, 219, 219);
  width: 300px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  background-color:rgb(163, 172, 172);

}
#display {
  margin: 10px;
  width: 85%;
  font-size: 25px;
}
.button_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button {
  width: 70px;
  height: 70px;
  margin: 4px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  color: rgb(2, 2, 2);
  background-color: rgb(114, 107, 126);
  
}